:root {
    --colorLetra: #EEEBE4;
    --colorHeader: #87B297;
    --colorMenu: #A3C3AC;
    --colorMes: #B592A0;
    --colorEventos: #A30B37;
    --colorTareas: #E87EA1;
    --WireOne: 'Wire One', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --ConcertOne: 'Concert One', sans-serif;
}

.navbar{
    background-color: var(--colorMenu);
}

.name-logo{
    font-family: var(--WireOne);
    font-size: 60px;
    font-weight: 100;
    color: #EEEBE4;
  
}
.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    margin-left: 15px;
}

.logout{
    width: 120px;
    padding: 5px 20px;
    border: 1px solid #EEEBE4;
    border-radius: 10px;
    font-size: 17px;
    font-family: var(--roboto);
    background-color: var(--colorMenu);
    color: var(--colorLetra);
}

@media (min-width:768px) {
    ul{
        width: 50%;
    }
    li{
        width: 100%;
    }
}
