:root {
    --colorLetra: #EEEBE4;
    --colorHeader: #87B297;
    --colorMenu: #A3C3AC;
    --colorMes: #B592A0;
    --colorEventos: #A30B37;
    --colorTareas: #E87EA1;
    --WireOne: 'Wire One', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --ConcertOne: 'Concert One', sans-serif;
}

/** MAIN **/

.card{
    height: 400px;
}

body{
    background-color:#F4F4F4;
}